.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display.winter i {
  color: rgb(0, 174, 255);
}

.season-display.summer i {
  color: rgb(255, 94, 0);
}

.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter {
  background-color: rgb(212, 234, 253);
}

.summer {
  background-color: rgb(248, 172, 29);
}
